{% extends "orders/base.html" %}

{% block title %}
Pizza Delivery - Cart
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  	<div class="collapse navbar-collapse" id="navbarSupportedContent" style="
  	     background-color: #0C4C7D;
         border-radius: 10px;
         font-family: 'Montserrat', sans-serif;
         padding-left: 25px; padding-right: 25px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="background-color: white; border-radius: 10px;">
        <a class="nav-link" href="{% url 'index' %}" >Home</a>
      </li>
     
     <li class="nav-item active" style="background-color: white; border-radius: 10px; margin-left: 5px;">
        <a class="nav-link" href="{% url 'show_cart' %}">Cart</a>
      </li>
      <li class="nav-item" style="background-color: white; border-radius: 10px; margin-left: 5px;">
        
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
    <h1>PIZZA</h1>

	</div>
</nav>
<hr>

<div class="jumbotron" style="
        background-color: #0C4C7D;
        border-radius: 10px;
        padding: 15px;
        margin-top: 20px;">
        <h5>{{ user }}</h5>
        <table class="table table-sm table-hover">
            {% for c in cart %}
            <tr>
                <td>{{ c.item }}</td>
                <td>Extras : {{c.extras}}</td>
                <td>Price : {{c.price}}</td>
                <td><a href="{% url 'place_order' c.item c.price c.extras c.pk %}">Place order</a></td>
                <td><a href="{% url 'delete_order' c.pk %}">Delete order</a></td>
            </tr>
            {% endfor %}
        </table>
    <div id="calculate_price" style="margin-left: 1040px">
        <button onclick="order()" class="btn btn-warning">Order</button>
    </div>
    <script>
        function order() {
        alert("Thanks for ordering!\nYour order will be ready in 10 minutes");
        window.location = "http://127.0.0.1:8000/";
        }
    </script>
</div>

{% endblock %}
